
.top-section {

  @media only screen and (max-width: 890px) {
    width: 30rem;
  }
  @media only screen and (max-width: 1500px) {
    width: 74rem;
  }
  @media only screen and (max-width: 1400px) {
    width: 68rem;
  }
  @media only screen and (max-width: 1200px) {
    width: 60rem;
  }
}

.middle-section {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1600px) {
    width: 80rem;
  }
  @media only screen and (max-width: 1500px) {
    width: 74rem;
  }
  @media only screen and (max-width: 1400px) {
    width: 68rem;
  }
  @media only screen and (max-width: 1200px) {
    width: 60rem;
  }
  .widget {
    height: 27rem;
    background-color: #fff;
    border-radius: 5px;
    margin: .9rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem #939393;
    &.left {
      width: 35.625rem;
      @media only screen and (max-width: 1600px) {
        width: 49.375rem;
      }
      @media only screen and (max-width: 1500px) {
        width: 43.125rem;
      }
      @media only screen and (max-width: 1400px) {
        width: 36.875rem;
      }
      @media only screen and (max-width: 1200px) {
        width: 30.625rem;
      }
    }
    &.right {
      width: 28.125rem;
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  .widget {
    height: 15.625rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem #939393;
    &.left {
      width: 78.125rem;
      margin-right: 1.5625rem;
      @media only screen and (max-width: 1200px) {
        width: 71.25rem;
      }
    }
    &.right {
      width: 40rem;
      @media only screen and (max-width: 1600px) {
        width: 71.25rem;
      }
      @media only screen and (max-width: 1500px) {
        width: 59.375rem;
      }
      @media only screen and (max-width: 1400px) {
        width: 46.875rem;
      }
      @media only screen and (max-width: 1200px) {
        width: 46.875rem;
      }
    }
  }
}

.widget-container {
  display: flex;
  // align-items: space-between;
  .widget {
    width: 5rem;
    height: 10rem;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    margin: .25rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem #939393;
    display: flex;
    align-items: center;
    padding: .25rem;
    &.green {
      background-color: #a5d6a7;
    }
    &.yellow {
      background-color: #ffe082;
    }
    &.red {
      background-color: #FFA1B5;
    }
    &.blue {
      background-color: #86C7F3;
    }
    @media only screen and (max-width: 1600px) {
      width: 18.75rem;
    }
    @media only screen and (max-width: 1500px) {
      width: 17.1875rem;
    }
    @media only screen and (max-width: 1400px) {
      width: 15.625rem;
    }
    @media only screen and (max-width: 1200px) {
      width: 14.0625rem;
    }
    .icon {
      width: 6.25rem;
      font-size: 3.75rem;
      text-align: center;
      @media only screen and (max-width: 1200px) {
        font-size: 2.8125rem;
      }
    }
    .value {
      text-align: center;
      width: 10.9375rem;
      .top {
        font-size: 1.875rem;
        @media only screen and (max-width: 1200px) {
          font-size: 1.625rem;
        }
      }
      .bottom {
        font-size: 1.25rem;
        margin-top: 0.625rem;
        @media only screen and (max-width: 1200px) {
          font-size: 1rem;
        }
      }
    }
  }
}