.chart-container {
    padding: 10px;
  transform:scale(.6);
padding-top: 5px;
  }
  .title {
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica,
      sans-serif;
  }