<h1>orders</h1>
<div class="card order-table">
  <table class="table-striped">
    <th class="order-th">order</th>
    <th class="order-th">date</th>
    <th class="order-th">items</th>
    <th class="order-th">Ship to</th>
    <th class="order-th">Status</th>
    <th class="order-th">Total</th>
    <th class="order-th">details</th>

    <tr *ngFor="let order of orders ;index as i" class="order-tr-light">
      <td class="order-td">{{order.user.fristName}} {{order.user.lastName}}</td>
      <td class="order-td">{{order.createdAt |date}}</td>
      <td class="order-td">{{order.products.length}}</td>
      <td class="order-td">{{order.user.address}}</td>
      <td class="order-td">?</td>
      <td class="order-td">?</td>
      <td class="order-td"><button class="btn btn-primary">show details</button></td>
    </tr>
    
  </table>
</div>
