<h1>orders</h1>
<div class="card order-table">
  <table class="table-striped">
    <th class="order-th">order</th>
    <th class="order-th">date</th>
    <th class="order-th">Status</th>
    <th class="order-th">Ship to</th>
    <th class="order-th">Total</th>
    <tr class="order-tr-light">
      <td class="order-td">1</td>
      <td class="order-td">2</td>
      <td class="order-td">3</td>
      <td class="order-td">4</td>
      <td class="order-td">5</td>
    </tr>
    <tr class="order-tr-dark">
      <td class="order-td">1</td>
      <td class="order-td">2</td>
      <td class="order-td">3</td>
      <td class="order-td">4</td>
      <td class="order-td">5</td>
    </tr>
    <tr class="order-tr-light">
      <td class="order-td">1</td>
      <td class="order-td">2</td>
      <td class="order-td">3</td>
      <td class="order-td">4</td>
      <td class="order-td">5</td>
    </tr>
  </table>
</div>
