@import "~bootstrap/dist/css/bootstrap.min.css";


.order-table{
    width: 100%;
    // min-width: 500px ;
    background-color: white;

}
.order-th{
    text-align: center;
    background-color: rgb(38,50,56);
    padding: 10px;
    // border-radius: 3px;
    color: rgb(255,255,255);
  


}
.order-tr-light{
    background-color: rgba(128, 128, 128, 0.096);
}
.order-tr-dark{
    background-color: rgba(128, 128, 128, 0.459);

}
.order-td{

    text-align: left;
    padding: 10px;


}
